<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
    <!--
        <httpErrors errorMode="DetailedLocalOnly" 
	existingResponse="PassThrough" defaultPath="~/NotFound.htm" defaultResponseMode="File" />
	-->
	<!--
        <handlers>
            <remove name="svc-ISAPI-2.0" />
        </handlers>
	-->
        <directoryBrowse enabled="false" />
    </system.webServer>
    <system.web>
        <customErrors>
            <error redirect="~/PageNoLongerAvailable.aspx" statusCode="404" />
        </customErrors>
    </system.web>
    <!--
    <system.web>
        <customErrors>
            <error redirect="/404.aspx" statusCode="404" />
        </customErrors>
    </system.web>
    -->
</configuration>
